[submodule "Submodule"]
	path = Submodule
	url = https://github.com/gerasimenkoeugene/Submodule
[submodule "coursera-test"]
	path = coursera-test
	url = https://github.com/gerasimenkoeugene/coursera-test
